@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 240 10% 4%;
    --foreground: 0 0% 98%;
    --border: 240 3.7% 15.9%;
  }

  .dark {
    --background: 240 10% 4%;
    --foreground: 0 0% 98%;
    --border: 240 3.7% 15.9%;
  }

  * {
    border-color: hsl(var(--border));
  }

  body {
    background-color: hsl(var(--background));
    color: hsl(var(--foreground));
    @apply antialiased;
  }
}
